.navbar {
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-primary);
    border-bottom: 1px solid var(--accent-color);
}

.navbarContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    color: var(--text-primary);
    text-decoration: none;
    margin: 0;
    padding: 0 1rem;
}

.navItems {
    width: 100px;
    text-decoration: none;
}

.profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--bg-light);
    border: 2px solid var(--accent-color);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.profile a img {
    color: var(--text-primary);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.floating {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: var(--feature-color);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.floating a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 1000;
    color: white;
}

.floating a svg {
    width: 30px;
    color: white;
}
