.container {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--white);
    z-index: 99999;
    align-items: center;
    justify-content: center;
}

.spinner {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 10px solid var(--bg-light);
    border-top-color: var(--feature-color);
    animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
